.places {
    margin: 92px auto 0 auto;
    padding: 0;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
  }
  
  @media screen and (max-width: 1080px) {
    .places {
      width: 90.63vw;
    }
  }
  
  
  @media screen and (max-width: 769px) {
    .places {
      margin-top: 88px;
      width: 93.75vw;
    }
  }
  
  @media screen and (max-width: 622px) {
    .places {
      margin-top: 88px;
      width: 90vw;
    }
  }
  
  
  @media screen and (max-width: 320px) {
    .places {
      margin-top: 64px;
      max-width: 288px;
    }
  }


