.header {
  margin: 28px 48px 0 48px;
  padding: 0;
  display: flex;  
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1184px;
}

@media screen and (max-width: 769px) {
  .header {
    margin: 28px 24px 0 28px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    margin: 16px 16px 0 16px;
  }
}

