.cover__background {
    margin: 0 auto;
    width: 100%;
    min-height: 740px;
    max-width: 1184px;
    background-image: url('../../../Image/cover-trains.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
  }

  @media screen and (max-width: 1025px) {
    .cover__background {
      min-height: 640px;
    }
  }

  @media screen and (max-width: 769px) {
    .cover__background {
      min-height: 480px;
    }
  }

  @media screen and (max-width: 544px) {
    .cover__background {
      min-height: 340px;
    }
  }

  @media screen and (max-width: 321px) {
    .cover__background {
      min-height: 200px;
    }
  }
  
  .cover__background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F4D;
    z-index: -1;
  }
  
  .cover__background:hover::before {
    background-color: #2A2C2FCC;
    transition: background-color 0.8s linear;
  }
  


