.cover__title {
    margin: 0;
    max-width: 560px;
    min-height: 70px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    color: #FFFFFF;  
  }
  
  @media screen and (max-width: 680px) {
    .cover__title {
     font-size: 10vw;
      
    }
  }
  
  @media screen and (max-width: 320px) {
    .cover__title {
      font-size: 32px;
      line-height: 109%;
    }
  }


