.footer {
    margin: 92px 48px 24px 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  @media screen and (max-width: 769px) {
    .footer {
      margin: 88px 24px 24px 24px;
    }
  }
  
  @media screen and (max-width: 736px) {
    .footer {
      flex-direction: column;
      align-self: flex-start;
      justify-content: flex-start;
      margin: 64px auto 24px 16px;
    }
  }


